Source: ros-melodic-multisense-lib
Section: misc
Priority: optional
Maintainer: Carnegie Robotics <support@carnegierobotics.com>
Build-Depends: debhelper (>= 9.0.0), libpng-dev, ros-melodic-catkin, ros-melodic-cv-bridge
Homepage: https://bitbucket.org/crl/multisense_ros
Standards-Version: 3.9.2

Package: ros-melodic-multisense-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpng-dev, ros-melodic-cv-bridge
Description: multisense_lib
