Source: ros-noetic-multisense-description
Section: misc
Priority: optional
Maintainer: Carnegie Robotics <support@carnegierobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: https://github.com/carnegierobotics/multisense_ros
Standards-Version: 3.9.2

Package: ros-noetic-multisense-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: multisense_description
